<form action="/drivers" method="post">
<label>Name:</label>
<input type="text" name="driver[name]" placeholder="write driver's name" />

<br/>
<label>Current Rides:</label>
<br/>
<% @rides.each do |ride| %>
    <input type="checkbox" name="rides[]" value="<%= ride.id%>"/>
    <%= ride.miles %> <br/>
<% end %>

<label>Current Rides:</label>
<br/>
<% @passengers.each do |passenger| %>
    <input type="checkbox" name="passengers[]" value="<%= passenger.id%>"/>
    <%= passenger.name %> 
    <input type="text" name="miles[]" />
    <br/>

<% end %>

<input type="submit" />
</form>