<form action="/books" method='post'>

<label>Title:</label>
<input type="text" name="book[title]"/><br/>

<label>Year:</label>
<input type="text" name="book[year]"/><br/>

<label>Author:</label>
<select name="book[author_id]">
<% @authors.each do |author| %>
    <option value=<%=author.id%> > <%=author.name%> </option>
<% end %>
</select>

<label>create new author:</label>
<input type="text" name="author[name]"/>

<input type="submit"/>

</form>